html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  height: auto;
}

.radar {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.change-log-list {
  padding: 20px;
  font-size: 16px;
}
